@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

.postMeta {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: var(--gap-el-xs);

    @include breakpoint(lg) {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-el-lg);
    }

    @include breakpoint(xl) {
        grid-template-columns: repeat(12, 1fr);
    }

    & .title {
        @include breakpoint(xl) {
            grid-column: 1 / 4;
        }
    }

    & .slug {
        @include flex-center(column, var(--gap-el-sm));

        @include breakpoint(xl) {
            grid-column: 4 / 6; 
        }
    }

    & .summary {
        grid-column: 1 / -1;

        @include breakpoint(xl) {
            grid-column: 6 / -1;
        }
    }
    
}