:root {
  --bg-primary: var(--stone-50);
  --bg-neutral: var(--neutral-300);
  --bg-btn-primary: var(--steel-200);
  --bg-btn-primary-hover: var(--steel-900);
  --bg-btn-secondary: var(--stone-200);
  --bg-btn-secondary-hover: var(--stone-700);
}

[data-theme='dark'] {
  --bg-primary: var(--steel-950);
  --bg-neutral: var(--neutral-700);
  --bg-btn-primary: var(--steel-900);
  --bg-btn-primary-hover: var(--steel-200);

  --bg-btn-secondary: var(--stone-800);
  --bg-btn-secondary-hover: var(--stone-300);
}
