:root {
  --text-main: var(--blue-950);
  --text-secondary: var(--steel-700);
  --text-color: var(--blue-500);
  --text-link: var(--blue-700);
  --text-link-hover: var(--blue-900);
}

[data-theme='dark'] {
  --text-main: var(--emerald-50);
  --text-secondary: var(--steel-200);
  --text-color: var(--emerald-200);
  --text-link: var(--emerald-300);
  --text-link-hover: var(--emerald-100);
}
