@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

.logo {
 @include link-heading;

  &.mobile {
    @include breakpoint(lg) {
      display: none;
    }
  }

  &.desktop {
    display: none;
    @include breakpoint(lg) {
      display: block;
    }
  }
}
