

@mixin button(
  $padding,
  $color,
  $font-size,
  $text-transform,
  $color-hover,
  $bg-color,
  $bg-color-hover,
  $border: var(--border-1),
) {
  position: relative;
  padding: $padding;
  border: $border;
  font-family: var(--font-atkinson-mono);
  color: $color;
  font-size: $font-size;
  font-weight: var(--fw-bold);
  text-transform: $text-transform;
  transition: var(--transition-main);
  overflow: hidden;
  z-index: 1;

  &:focus-visible,
  &:hover {
    color: $color-hover;
    transform: scale(1.05);
    box-shadow: var(--shadow-btn);
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -150%;
    background-color: $bg-color;
    z-index: -1;
    transition: var(--transition-main);
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: $bg-color-hover;
    left: 0;
    transform: scale(1.05);
  }
}
