@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

.toolbarBtn {
    border: var(--border-1);
    padding: var(--p-12);
    background-color: var(--bg-primary);
    font-size: var(--fs-200);

}