@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/mixins' as *;

:root {
  --m-page-y: #{px-to-rem(32)};

  --m-2: #{px-to-rem(2)};
  --m-4: #{px-to-rem(4)};
  --m-8: #{px-to-rem(8)};
  --m-12: #{px-to-rem(12)};
  --m-16: #{px-to-rem(16)};
  --m-20: #{px-to-rem(20)};

  @include breakpoint(md) {
    --m-page-y: #{px-to-rem(48)};
  }

  @include breakpoint(lg) {
    --m-page-y: #{px-to-rem(64)};
  }

  @include breakpoint(xl) {
    --m-page-y: #{px-to-rem(80)};
  }

  @include breakpoint(2xl) {
    --m-page-y: #{px-to-rem(96)};
  }
}
