@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/mixins' as *;

:root {
  --p-2: #{px-to-rem(2)};
  --p-4: #{px-to-rem(4)};
  --p-6: #{px-to-rem(6)};
  --p-8: #{px-to-rem(8)};
  --p-10: #{px-to-rem(10)};
  --p-12: #{px-to-rem(12)};
  --p-16: #{px-to-rem(16)};
  --p-20: #{px-to-rem(20)};
  --p-24: #{px-to-rem(24)};
  --p-28: #{px-to-rem(28)};

  --p-x-page: #{px-to-rem(44)};

  --p-y-sm: #{px-to-rem(16)};
  --p-y-lg: #{px-to-rem(24)};



  --p-btn-lg: #{px-to-rem(8)} #{px-to-rem(18)};
  --p-btn-md: #{px-to-rem(6)} #{px-to-rem(14)};
  --p-btn-sm: #{px-to-rem(4)} #{px-to-rem(10)};

  @include breakpoint(md) {
    --p-x-page: #{px-to-rem(64)};
    --p-y-sm: #{px-to-rem(20)};
    --p-y-lg: #{px-to-rem(32)};

    --p-btn-lg: #{px-to-rem(10)} #{px-to-rem(20)};
    --p-btn-md: #{px-to-rem(8)} #{px-to-rem(16)};
    --p-btn-sm: #{px-to-rem(6)} #{px-to-rem(12)};
  }

  @include breakpoint(lg) {
    --p-x-page: #{px-to-rem(80)};
    --p-y-sm: #{px-to-rem(24)};
    --p-y-lg: #{px-to-rem(40)};

    --p-btn-lg: #{px-to-rem(12)} #{px-to-rem(24)};
    --p-btn-md: #{px-to-rem(10)} #{px-to-rem(20)};
    --p-btn-sm: #{px-to-rem(8)} #{px-to-rem(16)};
  }

  @include breakpoint(xl) {
    --p-x-page: #{px-to-rem(96)};
    --p-y-sm: #{px-to-rem(28)};
    --p-y-lg: #{px-to-rem(48)};
  }

  @include breakpoint(2xl) {
    --p-x-page: #{px-to-rem(120)};
    --p-y-sm: #{px-to-rem(28)};
    --p-y-lg: #{px-to-rem(48)};
  }
}
