@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  max-width: var(--w-page-max);
  margin: 0 auto;
  padding-inline:  var(--p-x-page);
  padding-top: var(--p-y-lg);
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-1);

  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap-el-sm);
    border-bottom: none;
  }

  & .bottom {
    @include breakpoint(lg) {
      grid-column: 1 / -1;
      place-self: center;
    }
  }

  & .left {
    @include flex-center(row, var(--gap-el-md));

    @include breakpoint(lg) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-self: start;
    }
  }

  & .right {
    @include breakpoint(lg) {
      display: none;
    }
  }

  & .logo {
    @include breakpoint(lg) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: end;
    }
  }
}
