@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

.postPreviewCard {
  @include post-preview-basic;
}

.featured {
  @include breakpoint(lg) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    grid-template-areas:
      'category image'
      'title image'
      'summary image'
      'meta image';

    & .image {
      grid-area: image;
      place-self: center;
    }

    & .category {
      grid-area: category;
    }

    & .title {
      grid-area: title;
    }

    & .summary {
      grid-area: summary;
    }

    & .meta {
      grid-area: meta;
    }
  }
}

.default {
  @include breakpoint(md) {
    max-width: #{px-to-rem(458)};
    padding: var(--p-10);
    border: var(--border-1);
  }
}
